<div class="clearfix">
    <div class="date-pickers well col-sm-9 text-center" ng-class="{ 'submitting': submitting }">
        <div class="col-sm-6 date-picker-container">
            <h3 class="datepicker-header text-center">From</h3>
            <datepicker ng-model="start"
                        class="inline-datepicker"
                        ng-change="changeStart()"
                        hide-weekends
                        date-disabled="disableWeekends(date, mode)"
                        min-date="minDate"></datepicker>
            <select ng-model="startSegment"
                    ng-disabled="submitting"
                    ng-change="calculateDays()"
                    ng-show="showStartSegment"
                    class="form-control">
                <option ng-repeat="segment in daySegments">{{segment}}</option>
            </select>
        </div>

        <div class="col-sm-6 date-picker-container">
            <h3 class="datepicker-header text-center">To</h3>
            <datepicker ng-model="end"
                        class="inline-datepicker"
                        date-disabled="disableWeekends(date, mode)"
                        hide-weekends
                        ng-change="calculateDays()"
                        min-date="start"></datepicker>
            <select ng-model="endSegment"
                    ng-change="calculateDays()"
                    ng-disabled="submitting"
                    class="form-control">
                <option ng-repeat="segment in daySegments">{{segment}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 date-picker-container">
        <h1 class="large-number">{{days}}</h1>
        <h2 class="large-number-description">days</h2>

        <div class="btn-group btn-group-lg btn-group-justified absence-types" ng-class="{ submitting: submitting }">
            <a class="btn btn-default"
                    ng-repeat="type in absenceTypes"
                    ng-click="setAbsenceType(type)"
                    ng-disabled="submitting"
                    ng-class="{ active: absenceType == type }">{{type.name}}</a>
        </div>

        <button class="btn-lg btn btn-block btn-submit"
                ng-click="submit()"
                ng-disabled="submitting"
                ng-hide="submitted"
                ng-class="alertLevel ? 'btn-' + alertLevel.level : 'btn-success'">
            Submit Request
        </button>

        <alert type="{{alertLevel.level}}" class="alert-level" ng-show="!submitted">
            {{alertLevel.message}}
        </alert>

        <spinner for="submitting" class="spinner spinner-lg" ng-hide="submitted" />
        <alert type="success" ng-show="submitted">
            <strong>Success!</strong>
            Your request has been submitted for approval
        </alert>
    </div>

    <div class="col-sm-9 response-container jumbotron" ng-class="{ submitted: submitted }">
        <h1>What's next?</h1>
        <p class="home-buttons">
            <a class="btn btn-success btn-lg" href="#" ng-click="reload()">
                <i class="glyphicon glyphicon-plus"></i> Make another request
            </a>
            <a class="btn btn-primary btn-lg" href="/absences">
                <i class="glyphicon glyphicon-calendar"></i> Find my team
            </a>
            <a class="btn btn-primary btn-lg" href="/">
                <i class="glyphicon glyphicon-home"></i> Go home
            </a>

        </p>
    </div>
</div>

<div class="absence-preview" ng-show="!submitting && !submitted">
    <label class="clearfix empty-days">
        <input type="checkbox" ng-model="previewEmptyDays">
        Show Empty Days
    </label>
    <table class="table table-bordered table-condensed">
        <tr ng-repeat="day in preview" ng-show="previewEmptyDays || !!day.getDays()">
            <td  class="text-center">
                {{day.date | amDateFormat: 'Do MMM YYYY'}}
            </td>
            <td class="text-center" title="Total Absences" heat-map="day.getDays()" heat-map-max="10">
                {{day.getDays() || '-'}}
            </td>
        </tr>
    </table>
</div>