<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WhosWhere</title>
    <link rel="stylesheet" href="content/bootstrap.min.css" />
    <link rel="stylesheet" href="content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="content/site.css" />
</head>
<body>
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">WhosWhere</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">

            </p>
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="body-content">

    </div>
</body>
</html>
