body {
    padding-top: 50px;
}

.page-loading-message {
    margin-top: 50px;
    display: inline-block;
    margin-left: 30%;
    margin-right:30%;
    width: 40%;
    text-align: center;
}

@media (min-width: 768px) {
    .page-loading-message {
        margin-top: 100px;
    }
}