<div class="day-summary">
    <div>
        <div class="clearfix btn-group date-picker-buttons" ng-show="showDatePicker">
            <button type="button" class="btn btn-default col-xs-2" ng-click="changeDay(-1)">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <button ng-click="open($event)"
                    ng-model="date"
                    ng-change="update()"
                    is-open="opened"
                    show-button-bar="false"
                    close-text="Close"
                    class="btn btn-default col-xs-8"
                    type="button">
               {{date | amDateFormat:'ddd D MMM'}}
            </button>
            <button type="button" class="btn btn-default col-xs-2" ng-click="changeDay(1)">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
        <h1 class="large-number">{{data.absences.length}}</h1>
        <h2 class="large-number-description">absentees today</h2>

        <canvas class="chart chart-doughnut"
                ng-show="chartByDepartment.data.length"
                data="chartByDepartment.data"
                labels="chartByDepartment.labels"
                colours="chartByDepartment.colors"></canvas>
    </div>
</div>